[submodule "vendor/cadical"]
	path = vendor/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "vendor/symfpu"]
	path = vendor/symfpu
	url = https://github.com/martin-cs/symfpu.git
[submodule "vendor/bitwuzla"]
	path = vendor/bitwuzla
	url = https://github.com/bitwuzla/bitwuzla.git
[submodule "vendor/cryptominisat"]
	path = vendor/cryptominisat
	url = https://github.com/msoos/cryptominisat.git
[submodule "vendor/kissat"]
	path = vendor/kissat
	url = https://github.com/arminbiere/kissat.git
